body{
    background-color: rgb(5, 5, 5);
}

.main-blog-app {
    /* display:flex; */
    /* justify-content: center; */
    /* background-color: rgb(28, 27, 27); */
width: 100%;
    /* font-family: myFirstFont; */
}

.login-blog-main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blog-post {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: "Times New Roman", Times, serif;
    font-size:2.5rem;
}

.main-blog {
    color: aliceblue;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
}

.welcome {
    /* font-size: 1rem; */
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    color:white;
    padding-right:45px;
}

.logout {
    /* margin-left: 56pc; */
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
}

.button{
    padding: 40px;
}
.second-para-div {
    background-color: rosybrown;
    width: 400px;
    /* border-radius: 4px; */
    /* height: auto; */
    /* text-overflow: ellipsis; */
    text-overflow: ellipsis;

}
.second-div {
    display: flex;
    flex-wrap: wrap;
    /* gap: 38px; */
    justify-content: space-evenly;
}

.button-add {
    width: 105px;
    height: 39px;
    color: rgb(7, 7, 7);
    background: rgb(206, 206, 216);
    border: aliceblue;
    border-radius: 5px;
    font-size:1.0rem;
}
.pic-set {
    width: inherit;
    border-radius: 4px;
}
.text {

    /* display: flex; */
    color: black;
    padding-left: 20px;
    line-height: 1.3em;
    /* margin-inline: 20px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.Blog {
    font-size: 21px;
    color: black;
    font-weight: bold;
}

.Blogs {
    font-size: 21px;
    color: #616161;

}

.add-blogs {
    font-size: 25px;
    margin-inline: 50px;
    font-weight: bolds;

}

.second-para-div {
    background-color:white;
    width: 400px;
    border-radius: 4px;
    text-overflow: ellipsis;

}

.create-blog-line {
    color: black;
    font-size: 1.4rem;
   
    padding-left: 20px;
}
.des-div {
    background: #616161;
    height: 35px;
    width: 300px;
    margin-inline: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.textarea {
    height: 120px !important;
    width: 300px !important;
}

.edit {
    width: 116px;
    height: 36px;
    border-radius: 4px;
}

.DELETE {
    width: 116px;
    height: 36px;
    border-radius: 4px;
}
.link-bolg {
    display: flex;
    padding-left: 20px;
    gap: 20px;
}