
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-contains {
    margin-top: 50px;
}

.blog-main {
    background-color:rosybrown;
    width: 400px;
    border-radius: 4px;
    height: 350px;
    display: flex;
    justify-content: center;
}
.bolg-main{
    width: 470px;
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;

}
.set-blog-create {
    display: flex;
    justify-content: space-between; 
    /* justify-content: space-between; */

}
.circle-x {
    margin-top: -11px;
    margin-inline: 24px;
    width: 25px;
    height: 25px;

}
.create-blog-line {
    /* color: white; */
    font-size: 30px;
    font-weight: bold;
    margin-top: -24px;
}

.Title {
    margin: 0px;
    font-size: 17px;
    margin-top: -19px;
    
}

.button-set {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 94px;
}



.Title-text {
    height: 35px;
    width: 300px;
    margin-top: 40px;

}

.Description {
    margin: 0px;
    font-size: 17px;
}

.add-button {
    width: 95px;
    height: 30px;
    border-radius: 6px;
    border: aliceblue;
}

.add-button:hover {
    background-color: #a8d7e1
}

.deleted-button {
    width: 95px;
    height: 30px;
    border-radius: 6px;
    border: aliceblue;
}

.Title-text:focus {
    outline-color: blue;
}

.textarea:focus {
    outline-color: blue;
}

.textarea {
    height: 120px !important;
    width: 300px !important;

}
.logo{
    margin-top: -23px;
    margin-inline: -58px;
}